export(add_sampling_period)
export(aggregate_weather_covariates)
export(build_detection_array)
export(build_detection_long)
export(build_detection_wide)
export(build_scientific_name)
export(build_site_coordinates)
export(build_spoccupancy_input)
export(build_taxonomy_table)
export(build_visit_key)
export(complete_detection_history)
export(count_detections)
export(define_independent_events)
export(filter_identified_records)
export(filter_target_area)
export(floor_biweek)
export(get_project_path)
export(infer_sampling_effort)
export(parse_camera_timestamps)
export(read_camera_trap_data)
export(read_weather_data)
export(split_det_covs)
export(validate_required_columns)
export(validate_spoccupancy_input)
export(write_detection_history_excel)

importFrom(magrittr,"%>%")
